{% extends "@glenville/node/default/node--featured-content.html.twig" %}

{% block date %}
  {% if event_same_day %}
    {{ node.field_event_date.value|date("M j, Y", false) }}
  {% else %}
    {{ node.field_event_date.value|date("M j", false) }} - {{ node.field_event_date.end_value|date("M j, Y", false) }}
  {% endif %}
  <i class="material-icons mx-2" aria-hidden="true">access_time</i>
  {% if start_time == end_time %}
    {{ start_time }}
  {% else %}
    {{ start_time }} - {{ end_time }}
  {% endif %}
  </span>
{% endblock %}

{% block image %}
  <div class="image">
    {{ content.field_event_image }}
  </div>
  {% if node.field_event_image.title %}
    <figcaption class="text-muted font-weight-light">
      {{ node.field_event_image.title }}
    </figcaption>
  {% endif %}
{% endblock %}
